.container {
    width: 100%;
    max-width: rem(1440);
    margin: 0 auto;
    padding: 0 rem(40);
}

.title {
    font-size: rem(48);
    font-weight: 700;
    color: $whiteColor;
}
.desc {
    font-size: rem(20);
    font-weight: 400;
    color: $whiteColor;
}

// arrow icon
.arrow {
    display: inline-block;
    position: relative;
    width: rem(15);
    height: rem(15);
    transition: .3s;
    vertical-align: middle;
    
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: rem(9);
        height: rem(9);
        border-top: 3px solid currentColor;
        border-right: 3px solid currentColor;
        border-radius: 0 2px 0 0;
    }
    
    &.right::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &.left::before {
        transform: translate(-50%, -50%) rotate(225deg);
    }
    &.up::before {
        transform: translate(-50%, -50%) rotate(315deg);
    }
    &.down::before {
        transform: translate(-50%, -50%) rotate(135deg);
    }
}

