body {
    font-family: 'Inter';
    color: $whiteColor;
    background-color: $richBlackColor;
}

// header

.header {
    width: 100%;
    height: rem(91);
    @include flex(space-between, center);
    padding: 0 rem(100);
    background-color: $blackColor;

    .logo {
        a {
            display: block;
            width: rem(132);

            img {
                display: block;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    &__nav {
        height: 100%;

        .gnb {
            height: 100%;
            @include flex(space-between, $alignItems: center, $gap: 64);

            &__menu {
                position: relative;
                height: 100%;
                @include flex($alignItems: center);

                >a {
                    @include flex($alignItems: center, $gap: 6);
                    white-space: nowrap;
                    @include defineFont(18, 700);

                    &:hover {
                        color: $primaryColor;
                        transition: .3s;
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    background-color: $primaryColor;
                    height: rem(4);
                    width: 0;
                    top: 0;
                    transition: .3s;
                }

                &:hover::before {
                    width: 100%;
                }
            }

            &__browse {
                // position: relative;

                img {
                    width: rem(14);
                    transition: .3s;
                }

                &.on img {
                    content: url('../images/gnb_arrow_pr.png');
                }

                &.on {
                    color: $primaryColor;
                    transition: .3s;
                }
            }

        }
    }

    &__right {
        @include flex(end, $alignItems: center, $gap: 30);

        select {
            background-color: $blackColor;
            color: $whiteColor;
            border: 2px solid $whiteColor;
            padding: rem(6) rem(8) rem(6) rem(12);
            border-radius: rem(30);
            appearance: none;
            background: url('../images/lang_arrow.png') no-repeat right rem(8) center;
            width: rem(58);
            height: rem(35);
            @include defineFont(14);
        }

        option {
            color: $blackColor;
            background-color: $lightGrayColor;
        }

    }

    &__btn>a {
        padding: rem(10) rem(14);
        background-color: $blackColor;
        border: 2px solid $primaryColor;
        color: $primaryColor;
        @include defineFont(18, 700);
        border-radius: rem(30);
        transition: .3s;

        &on {
            background-color: $primaryColor;
            color: $blackColor;
        }

        &:hover {
            background-color: $primaryColor;
            color: $blackColor;
        }
    }

    .lnb {
        position: fixed;
        width: 100%;
        background-color: $blackColor;
        top: rem(91);
        left: 0;
        padding: rem(30) rem(15);
        display: none;
        z-index: 999;

        &__content {
            @include flex(space-between);
            width: 100%;
            max-width: rem(1400);
            margin: 0 auto;
        }

        .category-label {
            @include defineFont(16);
            color: $primaryColor;
            margin-bottom: rem(60);
        }

        &__menu-list {
            @include flex($gap: 16);
            flex-direction: column
        }

        &__menu>a {
            @include defineFont(36, 700);
            transition: .3s;

            &.on {
                color: $primaryColor;
            }
        }

        .recommend {
            @include flex($gap: 16);
            width: rem(684);
            display: none;

            &.on {
                display: flex;
            }

            &__card {
                width: calc((100% - 1rem) / 2);

                >a {
                    display: block;

                    &:hover {
                        color: $primaryColor;
                    }

                    &:hover .recommend__img::before {
                        opacity: 100;
                    }
                }
            }

            &__img {
                width: 100%;
                height: rem(320);
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &::before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(78, 240, 199, .5);
                    opacity: 0;
                    transition: .3s;
                }

                &:hover::before {
                    opacity: 100;
                }
            }

            &__title {
                @include defineFont(16, 700);
                margin-top: rem(16);
                transition: .3s;
            }
        }

    }
}

// visual section
.visual {
    width: 100%;
    height: rem(840);
    position: relative;

    &__bg {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;

        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .5);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }

    .container {
        height: 100%;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__content {
        margin-top: rem(240);
        padding: 0 rem(40);
    }

    &__main-text {
        font-size: rem(54);
        margin-bottom: rem(16);
    }

    &__sub-text {
        font-size: rem(28);
    }

    &__btn {
        >a {
            width: rem(205);
            display: block;
            padding: rem(20) rem(40);
            background-color: $primaryColor;
            color: $blackColor;
            font-weight: 700;
            border-radius: rem(50);
            margin-top: rem(60);

            &:hover {
                background-color: $primaryHoverColor;
            }
        }
    }

    &__scroll-down {
        width: 100%;
        margin-bottom: rem(30);
        animation: bounce .8s ease-in infinite;

        @keyframes bounce {
            0% {
                transform: translateY(rem(-2));
            }

            50% {
                transform: translateY(rem(2));
            }

            100% {
                transform: translateY(rem(-2));
            }
        }

        .scroll-down-img {
            width: rem(14);
            height: rem(21);
            margin: 0 auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        >p {
            font-size: rem(14);
            text-align: center;
            margin-top: rem(10);
        }
    }
}

// kvalue section
.kvalue {
    background-color: $blackColor;
    padding: rem(120) 0 rem(100) 0;

    &__top {
        padding: rem(40);
        display: flex;
        flex-direction: column;
        gap: rem(60);
    }
}