// color
$primaryColor: #4EF0C7;
$primaryHoverColor: #4BE2BC;
$whiteColor: #fff;
$blackColor: #000;
$softBlackColor: #0F1014;
$richBlackColor: #111;
$neuralNightColor: #151821;
$matteBlackColor: #181818;
$darkGrayColor: #2E2E2E;
$lightGrayColor: #CCCCCC;

// breakpoint
$pc : 1280px;
$laptop : 960px;
$tablet : 640px;
$mobile : 480px;