* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

h1, h2, h3 {
  line-height: 1.2;
  letter-spacing: -0.01em;
}

p {
  line-height: 1.4;
  letter-spacing: -0.01em;
}

@font-face {
  font-family: "Inetr";
  src: url("../fonts/Inter-Light.woff2") format("woff");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Inetr";
  src: url("../fonts/Inter-Regular.woff2") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Inetr";
  src: url("../fonts/Inter-Medium.woff2") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Inetr";
  src: url("../fonts/Inter-Bold.woff2") format("woff");
  font-weight: 700;
  font-display: swap;
}
body {
  font-size: 1rem;
  letter-spacing: -0.01em;
}

h1, h2, h3, h4, h5, h6, p, span {
  letter-spacing: -0.01em;
}

.container {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 2.5rem;
}

.arrow {
  display: inline-block;
  position: relative;
  width: 0.9375rem;
  height: 0.9375rem;
  transition: 0.3s;
  vertical-align: middle;
}
.arrow::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.5625rem;
  height: 0.5625rem;
  border-top: 3px solid currentColor;
  border-right: 3px solid currentColor;
  border-radius: 0 2px 0 0;
}
.arrow.right::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.arrow.left::before {
  transform: translate(-50%, -50%) rotate(225deg);
}
.arrow.up::before {
  transform: translate(-50%, -50%) rotate(315deg);
}
.arrow.down::before {
  transform: translate(-50%, -50%) rotate(135deg);
}

body {
  font-family: "Inter";
  color: #fff;
  background-color: #111;
}

.header {
  width: 100%;
  height: 5.6875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: /16rem;
  padding: 0 6.25rem;
  background-color: #000;
}
.header .logo a {
  display: block;
  width: 8.25rem;
}
.header .logo a img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__nav {
  height: 100%;
}
.header__nav .gnb {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
.header__nav .gnb__menu {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: /16rem;
}
.header__nav .gnb__menu > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  white-space: nowrap;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0;
}
.header__nav .gnb__menu > a:hover {
  color: #4EF0C7;
  transition: 0.3s;
}
.header__nav .gnb__menu::before {
  content: "";
  position: absolute;
  background-color: #4EF0C7;
  height: 0.25rem;
  width: 0;
  top: 0;
  transition: 0.3s;
}
.header__nav .gnb__menu:hover::before {
  width: 100%;
}
.header__nav .gnb__browse img {
  width: 0.875rem;
  transition: 0.3s;
}
.header__nav .gnb__browse.on img {
  content: url("../images/gnb_arrow_pr.png");
}
.header__nav .gnb__browse.on {
  color: #4EF0C7;
  transition: 0.3s;
}
.header__right {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1.875rem;
}
.header__right select {
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  padding: 0.375rem 0.5rem 0.375rem 0.75rem;
  border-radius: 1.875rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../images/lang_arrow.png") no-repeat right 0.5rem center;
  width: 3.625rem;
  height: 2.1875rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0;
}
.header__right option {
  color: #000;
  background-color: #CCCCCC;
}
.header__btn > a {
  padding: 0.625rem 0.875rem;
  background-color: #000;
  border: 2px solid #4EF0C7;
  color: #4EF0C7;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0;
  border-radius: 1.875rem;
  transition: 0.3s;
}
.header__btn > aon {
  background-color: #4EF0C7;
  color: #000;
}
.header__btn > a:hover {
  background-color: #4EF0C7;
  color: #000;
}
.header .lnb {
  position: fixed;
  width: 100%;
  background-color: #000;
  top: 5.6875rem;
  left: 0;
  padding: 1.875rem 0.9375rem;
  display: none;
  z-index: 999;
}
.header .lnb__content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: /16rem;
  width: 100%;
  max-width: 87.5rem;
  margin: 0 auto;
}
.header .lnb .category-label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0;
  color: #4EF0C7;
  margin-bottom: 3.75rem;
}
.header .lnb__menu-list {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  flex-direction: column;
}
.header .lnb__menu > a {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0;
  transition: 0.3s;
}
.header .lnb__menu > a.on {
  color: #4EF0C7;
}
.header .lnb .recommend {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  width: 42.75rem;
  display: none;
}
.header .lnb .recommend.on {
  display: flex;
}
.header .lnb .recommend__card {
  width: calc((100% - 1rem) / 2);
}
.header .lnb .recommend__card > a {
  display: block;
}
.header .lnb .recommend__card > a:hover {
  color: #4EF0C7;
}
.header .lnb .recommend__card > a:hover .recommend__img::before {
  opacity: 100;
}
.header .lnb .recommend__img {
  width: 100%;
  height: 20rem;
  position: relative;
}
.header .lnb .recommend__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .lnb .recommend__img::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(78, 240, 199, 0.5);
  opacity: 0;
  transition: 0.3s;
}
.header .lnb .recommend__img:hover::before {
  opacity: 100;
}
.header .lnb .recommend__title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0;
  margin-top: 1rem;
  transition: 0.3s;
}

.visual {
  width: 100%;
  height: 52.5rem;
  position: relative;
}
.visual__bg {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.visual__bg video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.visual__wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.visual__wrap::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.visual .container {
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.visual__content {
  margin-top: 15rem;
  padding: 0 2.5rem;
}
.visual__main-text {
  font-size: 3.375rem;
  margin-bottom: 1rem;
}
.visual__sub-text {
  font-size: 1.75rem;
}
.visual__btn > a {
  width: 12.8125rem;
  display: block;
  padding: 1.25rem 2.5rem;
  background-color: #4EF0C7;
  color: #000;
  font-weight: 700;
  border-radius: 3.125rem;
  margin-top: 3.75rem;
}
.visual__btn > a:hover {
  background-color: #4BE2BC;
}
.visual__scroll-down {
  width: 100%;
}
.visual__scroll-down .scroll-down-wrap {
  width: 0.875rem;
  height: 1.3125rem;
  margin: 0 auto;
}
.visual__scroll-down .scroll-down-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.visual__scroll-down > p {
  font-size: 0.875rem;
  text-align: center;
  margin-top: 0.625rem;
}